<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/game.css">
</head>

<body>
    <header style="margin-left: 25%;">
        <h1>STONE THINKS</h1>
        <div id="header">
            <h3>NEW GAME</h3>
            <h3>NEW CHALLENGE</h3>
        </div>
    </header>

    <section class="container" id="container">
        <div class="chat">
            <div class="chat-header">
                <p>Menssage</p>
            </div>
            <div class="list" id="list">
                <div id="messages"></div>
            </div>
            <div class="send">
                <input type="text" placeholder="Escriba un mensaje..." id="message">
                <button type="button" id="send" class="btn-send">Enviar</button>
            </div>
        </div>

        <div class="game">
            <div class="menu">
                <button id="exit">X</button>
                <div class="users">
                    <p id="userCont">NICKNAME: <span id="user"></span></p>
                    <p id="">Vs<span id=""></span></p>
                    <p id="oppNameCont"><span id="nameOpp"></span> :CHALLENGING</p>
                </div>
            </div>

            <p id="valueCont"> Eres jugador <span id="value"></span></p>

            <p id="turn"></p>

            <div id="bigcont">
                <div id="cont">
                    <button id="btn1" class="btn"></button>
                    <button id="btn2" class="btn"></button>
                    <button id="btn3" class="btn"></button>
                    <button id="btn4" class="btn"></button>
                    <button id="btn5" class="btn"></button>
                    <button id="btn6" class="btn"></button>
                    <button id="btn7" class="btn"></button>
                    <button id="btn8" class="btn"></button>
                    <button id="btn9" class="btn"></button>
                </div>
            </div>
        </div>
    </section>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="js/scroll.js"></script>
<script src="js/game.js"></script>
<script src="js/message.js"></script>



</html>